/* HeroSection.css */
.hero-section {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 172, 236, 0.7) /* light-blue */,
      rgba(24, 40, 73, 0.6) /* dark-blue */
    ),
    url("../../assets/images/hero-section-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 10vh 10vw 4vh 10vw;
  text-align: left;
}

.hero-title {
  font-size: 72px !important;
  font-weight: bold !important;
  @media (max-width: 600px) {
    font-size: 48px !important;
  }
}

.hero-subtitle {
  font-size: 36px !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
  @media (max-width: 600px) {
    font-size: 24px !important;
  }
}

.hero-text {
  font-size: 24px !important;
  margin-bottom: 40px !important;
  .hero-text br {
    line-height: 4;
  }
  @media (max-width: 600px) {
    font-size: 18px !important;
  }
}

.hero-content .button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: flex-start; /* Align buttons to the left */
  gap: 16px; /* Add spacing between the buttons */
}

.manifesto-button {
  width: 220px; /* Remove fixed width if not needed */
  margin: 0;
  background-color: var(--red-color) !important;
  color: white;
  border: none;
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  a {
    text-decoration: none;
    color: white;
  }
}

.manifesto-button:hover {
  background-color: var(--light-blue-color) !important;
}
