/* General Menu Styles */
.menu {
  background: transparent !important;
  color: white;
  padding: 10px 20px;
  height: var(--menu-height);
  transition: 0.9s ease !important;
  justify-content: center;
}

.menu-options {
  display: flex;
}

.menu.scrolled {
  background: var(--light-blue-color) !important;
  opacity: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1000px) {
    justify-content: space-around;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 3px solid var(--pink-color);
  padding-bottom: 10px;
}

/* Navigation Links */
.nav-link {
  font-weight: bold !important;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: grey;
}

.nav-link:not(:first-of-type) {
  font-weight: normal;
}

/* Logo Styles */
.logo {
  font-weight: bold !important;
  text-align: center;
  color: white;
}

.logo img {
  height: 60px !important;
}

/* Social Media Section */
.social-media {
  min-width: 280px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 3px solid var(--pink-color);
  padding-bottom: 10px;
}

.social-media a {
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  color: grey;
}

/* Responsive Styles */
@media (max-width: 700px) {
  /* Hide desktop navigation */
  .nav-links {
    display: none;
  }

  /* Adjust logo size for smaller screens */
  .logo img {
    height: 50px !important;
  }

  /* Social media adjustments */
  .social-media {
    gap: 5px;
    font-size: 0.9rem;
  }

  /* Show hamburger menu icon */
  .menu-icon {
    display: block;
    color: white;
    cursor: pointer;
  }

  /* Add padding for mobile drawer list */
  .MuiDrawer-paper {
    padding: 20px;
    background: linear-gradient(
      to bottom,
      rgba(0, 172, 236) /* light-blue */,
      rgba(24, 40, 73) /* dark-blue */
    ) !important;
  }

  /* Links inside drawer */
  .MuiListItemText-root a {
    color: white !important;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }

  .MuiListItemText-root a:hover {
    color: grey !important;
  }
}
