/* Menu.css */
.menu {
  background: transparent !important;
  color: white;
  padding: 10px 20px;
  height: var(--menu-height);
  transition: 0.9s ease !important;
}

.menu.scrolled {
  background: var(--light-blue-color) !important;
  opacity: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-weight: bold !important;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: grey;
}

.nav-link:not(:first-of-type) {
  font-weight: normal;
}

.logo {
  font-weight: bold !important;
  text-align: center;
  color: white;
}

.logo img {
  height: 60px !important;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media a {
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  color: grey;
}

.divider {
  height: 4px;
  background-color: var(--pink-color);
  margin-top: 10px;
}
