/* Updated LeaderMessage.css */

.leader-section {
  background: linear-gradient(
    to bottom,
    var(--dark-blue-color),
    var(--light-blue-color)
  );
}

.leader-message {
  margin: 10vh 10vw 4vh 10vw;
  color: white;
}

.leader-image-container {
  max-width: 300px;
  flex: 1 1 40%;
}

.image-fade-container {
  position: relative;
  display: inline-block;
}

.image-fade-container img {
  width: 100%;
  height: auto;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.leader-text-container {
  max-width: 1000px;
  flex: 1 1 60%;
  text-align: left;
  padding: 20px;
}

.leader-message-body {
  font-size: 18px;
  margin-bottom: 6px !important;
}

.leader-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leader-button {
  background-color: var(--red-color) !important;
  color: white;
  border: none;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  a {
    text-decoration: none;
    color: white !important;
  }
}

.leader-button:hover {
  background-color: var(--light-blue-color) !important;
}

.signature {
  img {
    height: 100px;
  }
}
.logo img {
  margin-top: 20px;
  height: 50px;
}

.logo-lista img {
  height: 150px;
}
