/* LeaderMessage.css */
.leader-message {
  background: linear-gradient(
    to bottom,
    var(--light-blue-color),
    var(--dark-blue-color)
  );
  color: white;
  padding: 60px 20px;
  text-align: center;
  min-height: calc(80vh - 2 * var(--menu-height));
  justify-content: space-around;
  align-items: center;
}

.leader-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 768px) {
  .leader-content {
    flex-direction: row;
  }
}

.leader-image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 40vh;
  height: 40vh;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .leader-image-container {
    margin-bottom: 0;
  }
}

.leader-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vh !important;
  height: 40vh !important;
  text-align: left;
}

.leader-message-title {
  font-weight: bold !important;
  /* margin-bottom: 10vh !important; */
}

.leader-button {
  background-color: var(--red-color) !important;
  color: white;
  border: none;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
}

.leader-button:hover {
  background-color: var(--light-blue-color) !important;
}

.logo img {
  text-align: right;
  height: 60px !important;
}
