/* CallToAction.css */
.call-to-action {
  background: linear-gradient(
    to bottom,
    var(--light-blue-color),
    var(--dark-blue-color)
  );
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--menu-height));
}

.cta-card {
  background-color: #1a2b49 !important;
  color: white !important;
  padding: 10px !important;
  width: 300px !important;
  height: 460px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px !important;
  box-shadow: 10px 10px var(--yellow-mustard--color) !important;
}

.cta-title {
  font-size: 28px !important;
  font-weight: bold !important;
  height: 100px;
  width: 260px;
  display: flex;
  text-align: center;
  line-height: 1.2 !important;
}

.cta-divider {
  height: 3px;
  background-color: var(--pink-color) !important;
  margin: 16px 0 !important;
}

.cta-text {
  font-size: 18px !important;
  margin-bottom: 24px !important;
  height: 200px;
  width: 260px;
  text-align: center;
}

.cta-button {
  background-color: var(--red-color) !important;
  color: white;
  border: none;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 260px !important;
}

.cta-button:hover {
  background-color: var(--light-blue-color) !important;
}
