/* App.css */
:root {
  --menu-height: 80px;
  --light-blue-color: #00acec;
  --red-color: #e64950;
  --pink-color: #db4fa6;
  --yellow-mustard-color: #e9d8a0;
  --dark-blue-color: #182849;
}

html {
  scroll-behavior: smooth;
}

body,
html,
#root,
.App {
  width: 100%;
  overflow-x: hidden;
}
